<h1>Category list</h1>

<table class='table table-dark'>
  <tr>
    <th scope='col'>Name</th>
    <th scope='col'>Delete</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= link_to 'Yes', admin_category_path(category),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<h5><%= link_to 'Add a new category', new_admin_category_path %></h5>
