@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,400');

body { 
  background: url(/assets/cheers.jpeg);
  background-repeat: no-repeat;
  background-size: 100%; 
}

.temperature {
	color:#fff;
	font-size: 100px;	
	padding: 5px 5px 5px 15px;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
}

.city {
	color:#fff;
	font-size: 80px;	
	padding: 0px 0px 0px 15px;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
}

.user {
	color:#fff;
	font-size: 20px;	
	padding-right:15px;
	padding-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
}

.welcome_search {
	padding-top: 300px;
}